{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/signup_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="signup-container">
    <h1>Send Reset Email</h1>
    <form method="POST">
      {% csrf_token %}
      {% if form.non_field_errors %}
          {{ form.non_field_errors }}
      {% endif %}
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit" class="button">Send</button>
    </form>
    <p style="margin-top: 15px;">
      Don't have an account?
      <a href="{% url 'signup' %}" style="color: #007bff; text-decoration: none;">Sign up</a>
    </p>
    <p style="margin-top: 15px;">
      Want to sign in?
      <a href="{% url 'login' %}" style="color: #007bff; text-decoration: none;">Sign in</a>
    </p>
    <footer>&copy; 2025 Port Inspector App</footer>
  </div>
</body>
</html>
