{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/header.css' %}">
<link rel="stylesheet" href="{% static 'port_inspector_app/history_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="header-left">
      <a href="/" style="align-items: center;"><img src="{% static 'Bug_icon.png' %}" id="header-bar-icon"/><span>Home</span></a>
      <a href="/history"><span>History</span></a>
      <a href="/upload"><span>Upload Photo</span></a>
    </div>
    <div class="header-right">
      <a href="/profile"><span>Profile</span></a>
      {% if not request.user.is_authenticated %}
      <a href="/login"><span>Login</span></a>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a href="/logout"><span>Logout</span></a>
      {% endif %}
    </div>
  </header>
    <div class="container">
        <h1>History
        <div class="tooltip-container">
            <div class="tooltip-icon">i</div>
            <div class="tooltip-text">Your history will save your last {{max_uploads}} uploads. Old uploads will be deleted.</div>
        </div>
        </h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Identification</th>
                </tr>
            </thead>
            <tbody>
                {% for upload in uploads %}
                <tr>
                    <td><a class="table-link" href="{% url 'results' upload.1 %}" target="_blank">{{ upload.0.id }}</a></td>
                    <td>{{ upload.0.upload_date.date|default:"No date" }}</td>
                    <td>{{ upload.0.upload_date.time|default:"No time" }}</td>
                    <td>{{ upload.0.final_identification }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        &copy; 2024 Port Inspector App
    </footer>
</body>
</html>

