{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/header.css' %}">
<link rel="stylesheet" href="{% static 'port_inspector_app/index_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-left">
      <a href="/" style="align-items: center;"><img src="{% static 'Bug_icon.png' %}" id="header-bar-icon"/><span>BruchinAI</span></a>
      <a href="/history"><span>History</span></a>
      <a href="/upload"><span>Upload Photo</span></a>
    </div>
    <div class="header-right">
      <a href="/profile"><span>Profile</span></a>
      {% if not request.user.is_authenticated %}
      <a href="/login"><span>Login</span></a>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a href="/logout"><span>Logout</span></a>
      {% endif %}
    </div>
  </header>

  <div>
      <img src="{% static 'banner.png' %}" id="title-banner"/>
      <img src="{% static 'use_product.png' %}" id="use-case-banner" usemap="#use-case-map"/>
      <map name="use-case-map">
        <area shape="circle" coords="1812,512,200" href="/upload" alt="Link 1">
      </map>
      <div id="mission-div">
        <p id="our-text">
            This program is designed to help identify different seed beetle species. Our AI assists
            with classifying the pictures uploaded and is trained purely on a set of specified seed
            beetle species. Our model gets more accurate with each specimen entered, helping us refine
            and improve our accuracy and open doors to classifying more species.
        </p>
        <img src="{% static 'little_guy.png' %}" id="mission-img"/>
      </div>
  </div>
  <div>
    <h1>
      Additional Resources
    </h1>
    <p id="additional-resources-p">
      For resources to assist with identification by hand, you can visit this curated page.
    </p>
    <p id="additional-resources-p">
      To learn more about this website, check out our 
      <a href="{% url 'about' %}">about page</a>
    </p>
  </div>
  <script src="https://unpkg.com/image-map-resizer@1.0.10/js/imageMapResizer.min.js"></script>
  <script>
    window.onload = () => imageMapResize();
  </script>

  <footer>
    &copy; 2025 Port Inspector App
  </footer>
</body>
</html>
