{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/login_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form class="form-with-validation" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <button class="button">Login</button>
    </form>

    <p style="margin-top: 15px;">
      Don't have an account?
      <a href="{% url 'signup' %}" style="color: #007bff; text-decoration: none;">Sign up</a>
    </p>
    <p style="margin-top: 15px;">
      Forgot your password?
      <a href="{% url 'forgot-password' %}" style="color: #007bff; text-decoration: none;">Reset password</a>
    </p>
  </div>
</body>
</html>
