{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/header.css' %}">
<link rel="stylesheet" href="{% static 'port_inspector_app/profile_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <style>
    .usda-flag {
        font-weight: bold;
        {% if usda_user %}
            color: green;
        {% else %}
            color: red;
        {% endif %}
    }
    </style>
</head>
<body>
    <header>
    <div class="header-left">
      <a href="/" style="align-items: center;"><img src="{% static 'Bug_icon.png' %}" id="header-bar-icon"/><span>Home</span></a>
      <a href="/history"><span>History</span></a>
      <a href="/upload"><span>Upload Photo</span></a>
    </div>
    <div class="header-right">
      <a href="/profile"><span>Profile</span></a>
      {% if not request.user.is_authenticated %}
      <a href="/login"><span>Login</span></a>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a href="/logout"><span>Logout</span></a>
      {% endif %}
    </div>
  </header>
    <div class="container">
        <h1>User Profile</h1>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>USDA User:</strong>
            <span class="usda-flag">
                {% if usda_user %}Yes{% else %}No{% endif %}
            </span>
        </p>
    </div>
    <footer>
        &copy; 2024 Port Inspector App
    </footer>
</body>
</html>
