{% load static %}
<link rel="stylesheet" href="{% static 'port_inspector_app/signup_elements.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="signup-container">
    <h1>Create an Account</h1>
    <form method="POST">
      {% csrf_token %}
      {% if form.non_field_errors %}
          {{ form.non_field_errors }}
      {% endif %}
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <button type="submit" class="button">Sign Up</button>
    </form>
    <footer>&copy; 2025 Port Inspector App</footer>
  </div>
</body>
</html>
